@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap'); 
*{
  padding: 0%;
  margin: 0%;
}
.App
{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( #68EACC 0%, #497BE8 100%);
}
.container
{
  height: 75vh;
  width: 30vw;
  background-color: white;
  border-radius: 23px;
}
.container h1
{
  text-align: center;
  font-family: 'Dosis', sans-serif;
  background-color: darkgray;
  margin-top: 2vh;
  font-size: 3rem;
  color: white;
}
.warn
{
  color: red;
  text-align: center;
  position: absolute;
  width: 30vw;
}
.input
{
  width: 25vw;
  margin: auto;
  margin-top: 4vh;
  display: grid;
  grid-template-columns: 4fr 1fr;

}
.input input
{
  border: none;
  border-bottom: 2px solid darkgray;
  text-align: center;
  outline: none;
}
.input button
{
  border-radius: 50%;
  width: 2.5vw;
  height: 4vh;
  margin-left: 1vw;
  background-color: darkgray;
  color:white;
  border: none;
}
.input button:hover
{
  background-color: greenyellow;
  cursor: pointer;
}
.displayTasks
{
  /* border: 2px solid black; */
  width: 30vw;
  margin-top: 4vh;
  height: 45vh;
}
.displayTasks ul
{
  list-style-type: none;

}
.taskindex
{
  margin-top: 4vh;
}
.taskindex span
{
  margin-left: 1vw;
  font-size: 1.3rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkseagreen;
}
.taskindex button
{
  float: right;
  height: 3vh;
  width: 4vw;
  margin-right: 1vw;
}
.taskindex button:hover
{
  cursor: pointer;
}
footer
{
  position: absolute;
  top: 95vh;

}
@media only screen and (max-width: 1341px) {
  .taskindex button{
   width: max-content;
    padding: 2px;
  }
}
@media only screen and (max-width: 926px) {
  .container
  {
  width: 35vw;
  }
  .input
  {
    width: 30vw;
  }
  .warn
  {
  width: 40vw;
  }
}
@media only screen and (max-width: 698px) {
 .taskindex span{
  font-size: 1.2rem;
 }
}
@media only screen and (max-width: 653px) {
  .container
  {
  width: 50vw;
  }
  .warn
  {
    width: 50vw;
  }
 }
 @media only screen and (max-width: 508px) {
  .container
  {
  width: 60vw;
  }
  .warn
  {
    width: 60vw;
  }
 }
 @media only screen and (max-width: 420px) {
  .container
  {
  width: 70vw;
  }
  .warn
  {
    width: 70vw;
  }
 }
 @media only screen and (max-width: 375px) {
  .container
  {
  width: 80vw;
  }
  .warn
  {
    width: 80vw;
  }
 }
 @media only screen and (max-width: 313px) {
  .container
  {
  width: 90vw;
  }
  .warn
  {
    width: 90vw;
  }
 }
 @media only screen and (max-width: 277px) {
  .container
  {
  width: 100vw;
  }
  .warn
  {
    width: 100vw;
  }
 }